name: build-and-publish
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: ./mvnw -B package
    - name: Release Maven package
      uses: samuelmeuli/action-maven-publish@v1
      with:
        gpg_private_key: ${{ secrets.gpg_private_key }}
        gpg_passphrase:  ${{ secrets.gpg_passphrase }}
        nexus_username:  ${{ secrets.nexus_username }}
        nexus_password:  ${{ secrets.nexus_password }}
        maven_args: -Durlcheck.disabled=true -Dmaven.test.skip=true
