name: build-and-publish
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'LWJGLX' }}
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 8
      uses: actions/setup-java@v5
      with:
        java-version: 8
        distribution: 'zulu'
        server-id: central
        server-username: ${{ secrets.nexus_username }}
        server-password: ${{ secrets.nexus_password }}
        gpg-private-key: ${{ secrets.gpg_private_key }}
        gpg-passphrase: ${{ secrets.gpg_passphrase }}
    - name: Build and publish to Maven Central
      run: mvn deploy -DskipTests
